USE [master]
GO
/****** Object:  Database [SlalomDB]    Script Date: 12/02/2019 11:13:15 ******/
CREATE DATABASE [SlalomDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SlalomDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\SlalomDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SlalomDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\SlalomDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SlalomDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SlalomDB]
GO
/****** Object:  Table [dbo].[Tricks]    Script Date: 12/02/2019 11:13:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tricks](
	[IdTrick] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](64) NOT NULL,
	[Value] [int] NULL,
	[Family] [varchar](32) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTrick] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
INSERT Into Tricks Values
('1', 'Butterfly', '50', 'Others'),
('2', 'Toe Cobra Back', '45', 'Others'),
('3', 'Toe Wiper', '60', 'Jump'),
('8', 'Wiper', '30', 'Jump'),
('9', 'Toe Seven', '40', 'Wheeling'),
('10', 'Heel Shift', '50', 'Wheeling'),
('11', 'Toe Machine', '50', 'Others'),
('12', 'Toe Footgun', '50', 'Sitting');